In [0]:
import pandas as pd
import seaborn as sn
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.metrics import classification_report

In [0]:
df = pd.read_csv("classification.csv")
df.head()

   overall  ...                                      player_traits
0       94  ...  Beat Offside Trap, Argues with Officials, Earl...
1       93  ...  Long Throw-in, Selfish, Argues with Officials,...
2       92  ...  Power Free-Kick, Injury Free, Selfish, Early C...
3       91  ...                         Flair, Acrobatic Clearance
4       91  ...  Beat Offside Trap, Selfish, Finesse Shot, Spee...

[5 rows x 9 columns]

In [0]:
df = pd.DataFrame(df, columns=['overall','potential','height_cm','weight_kg','international_reputation','value_eur','wage_eur'])
df.head()

   overall  potential  height_cm  ...  international_reputation  value_eur  wage_eur
0       94         94        170  ...                         5   95500000    565000
1       93         93        187  ...                         5   58500000    405000
2       92         92        175  ...                         5  105500000    290000
3       91         93        188  ...                         3   77500000    125000
4       91         91        175  ...                         4   90000000    470000

[5 rows x 7 columns]

In [0]:
# international_reputation menjadi label
label = df['international_reputation'].tolist()
df = df.drop(columns=['international_reputation'])
# print(df)

In [0]:
# Membagi menjadi training set 70% dan test set 30%
X_train, X_test, y_train, y_test = train_test_split(df, label, test_size = 0.3, random_state = 0)

In [0]:
# proses pembentukan model dengan algoritma Naive bayes
algo = GaussianNB()
algo.fit(X_train,y_train)
y_predict = algo.predict(X_test)
y_predict

array([1, 1, 1, ..., 1, 4, 1])

In [0]:
# evaluasi 
actual = pd.Series(y_test, name='Actual')
predic = pd.Series(y_predict, name='Predicted')
df_confusion = pd.crosstab(actual, predic)
df_confusion

Predicted     1    2   3  4
Actual
1          4841  206   9  0
2           175  139  12  0
3            16   31  30  7
4             4    3   5  5
5             0    0   1  0

In [0]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           1       0.96      0.96      0.96      5056
           2       0.37      0.43      0.39       326
           3       0.53      0.36      0.43        84
           4       0.42      0.29      0.34        17
           5       0.00      0.00      0.00         1

    accuracy                           0.91      5484
   macro avg       0.45      0.41      0.42      5484
weighted avg       0.92      0.91      0.92      5484

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [0]:
print("Akurasi : ",metrics.accuracy_score(y_test,y_predict))

Akurasi :  0.9144784828592268